#version=DEVEL
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=nvme0n1
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

#Root password
rootpw --lock
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc
user --groups=wheel --name=vagrant --password=$6$2FVWwnrn8qrUTYBj$GIK6IaAL30rCyBifJg30cjsuMcZxJl4J2mWLzmYIwGuBbTFKSzZZATKPHE3zXd/eIWxScC4f5pHoabLYRuDKo/ --iscrypted --gecos="vagrant"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%post
echo 'vagrant ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/vagrant
%end

%packages
@^infrastructure-server-environment
@base
@core
chrony
kexec-tools
open-vm-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end